@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints
------------------------------
Pequena Telas: até 600px
Celular: de 600px até 768px 
Tablet: 768px até 992px 
Desktop: 992px até 1200px
Grandes Telas:acima de 1200px
*/

@media print {  /* IMPRESSÃO */

    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/back-print.jpg);
    }
    
    main {
        width: 90vw;
        border: 2px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    main::after {
        content: 'essa impressão foi feita através do site ww.cursoemvideo.com';
        text-decoration: underline;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
}


@media screen and (min-width: 601px) and (max-width: 768px) {   /* TABLET */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#tablet {
        display: block;
    }
    
}

@media screen and (min-width: 1025) and (max-width: 1180px) {   /* DESKSTOP */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    img#pc {
        display: block;
    }
}

@media screen and (min-width: 1281px) {   /* GRANDES TELAS */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 600px;
    }
    img#tv {display: block;}
}

