@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to left, #A64826, #BF754B);
}

main {
    background-color: #BABDBF;
    width: 500px;
    box-shadow: 5px 5px 15px #732B1A;
    border-radius: 10px;
    padding: 8px;
    margin: auto;

}

h1 {
    color: #698996;
    text-align: center;
    text-shadow: 1px 1px 2px #61726ae1;
}

h2 {
    color: #3F7373;
}

p {
    text-align: justify;
}